/*
#imageBox {
  width: 1000px;
  height: 1000px;
  border: 2px solid aliceblue; 
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.02); 
  color: #aaa;
  font-style: italic;
}
*/

.userInputArea {
    position: relative;
    top: 30px;
}

.randomImgGenQns {
  margin-top: 80px;
}

.imgContainer {
    display: flex;  
}

#imageBox {
  display: flex;
  justify-content: flex-start; /* align items to the left */
  align-items: center;
  height: 600px;               /* fixed height */
  width: 700px;                /* smaller width */
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #343a40;
}

.imgGenBtn {
  padding-bottom: 5px;
  padding-top: 5px;
}